@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--text_dark: #020c14;
--text_default: #05131f;
--text_light: rgb(27, 47, 65);
--color_light: rgb(239, 250, 255);
--color_accent: rgb(100, 209, 255);
--color_primary: #38bdf8;
--color_bg: #bae6fd;
}

* {
    color: var(--text_dark);
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #64d1ff #effaff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #effaff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #64d1ff;
    border-radius: 50px;
    border: 3px double #1b2f41;
  }

@media (min-width: 1023px) {
    *{
        scroll-behavior: smooth;
    }
}

.socials {
    fill: var(--text_dark);
    margin: 0 1rem;
}

.socials:hover {
    transition: .3s;
    fill: var(--color_light);
}

.nav-links a {
    margin: 0 2rem;
}

.nav-links a:hover, .nav-title h1:hover {
    transition: .3s;
    color: var(--color_light);
}

.nav-bg {
    width: 100%;
    height: 25vh;
    background-image: url(/svg/wave-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    margin-top: 3.4rem;
}

.project-pic {
    position: relative;
    z-index: 1;
    width: 80%;
    align-self: center;
}

@media (min-width: 1024px) {
.project-pic:after {
    content: "";
    display: block;
    height: 217px;
    position: absolute;
    top: 0;
    width: 384px;
    z-index: -1;
}

.project-a::after {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    background-color: var(--color_accent);
}
.project-b::after {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    background-color: var(--color_light);
}}

.tech-btn {
    border: var(--text_light) 3px solid;
    min-width: 80px;
    height: 40px;
    color: var(--text_light);
    padding: 3px 7px;
    font-weight: 500;
    background-color: var(--color_light);
    display: inline-block;
    text-align: center;
    cursor: default;
}

@media (min-width: 767px) {
.tech-btn {
    min-width: 160px;
    height: 50px;
    padding: 5px 10px;
}}

.project-btn {
    min-width: 80px;
    height: 40px;
    color: var(--color_light);
    padding: 3px 7px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color_primary);
    position: relative;
    display: inline-block;
    overflow: hidden;
}

@media (min-width: 767px) {
.project-btn {
    min-width: 160px;
    height: 50px;
    padding: 5px 10px;
}}

.project-btn:hover {
    transition: all 0.3s ease;
    background-color: var(--color_accent);
    color: var(--text_light);
}

.btn {
    min-width: 160px;
    height: 50px;
    color: var(--color_light);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color_primary);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 50px;
  }
  .btn:hover {
    border-radius: 50px;
    padding-right: 24px;
    padding-left:8px;
    background: var(--color_accent);
    color: var(--text_light);
  }
  .btn:hover:after {
    opacity: 1;
    right: 20px;
  }
  .btn:after {
    content: "\00BB";
    position: absolute;
    color: var(--text_light);
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 4px;
    right: -20px;
    transition: 0.3s;
  }

.skills img {
    margin: auto;
}

.skill p {
    text-align: center;
}

.arrow-down  {
    stroke: var(--text_dark);
    width: 100px;
    margin: 2vh auto 0;
}
.arrow-up  {
    position: fixed;
    bottom: 30px;
    right: 30px;
    stroke: var(--text_dark);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: var(--text_default) 3px solid;
    padding: 10px;
    background-color: var(--color_light);
    z-index: 50;
}

.arrow-up:hover {
    transition: all .3s ease-in-out;
    padding: 5px;
}
.burger-container {
    height: 75px;
    width: 75px;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    background-size: 65%;
    background-position: 25px 3px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: var(--color_light);
    border-radius: 0 0 0 80px;
    z-index: 10;
}

#burger {
    /* z-index: 80; */
    /* transition: background-image .5s linear; */
    background-image: url(/svg/9851132801553239378.svg);
}

#close {
    background-color: var(--color_bg);
    border-radius: 0 0 0 80px;
    height: 75px;
    width: 75px;
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background-size: 65%;
    background-position: 25px 3px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 80;
    /* transition: background-image .5s linear; */
    background-image: url(/svg/487517051553239370.svg);
}

.close-open {
    display: block!important;
}

@media (min-width: 1024px) {
    #burger, #close {
        display: none!important;
    }
}

.nav-open {
    display: block!important;
    background-color: var(--color_primary);
    width: 100vw;
    top: 0;
    right: 0;
    height: 100vh;
    position: fixed;
    z-index: 60;
    border-left: var(--color_light) 5px solid;
}

.nav-open a:first-child {
    margin-top: 6rem;
}

.nav-open a {
    margin: 3rem auto 0;
    display: grid;
    width: max-content;
    text-align: center;
}

.socials-open {
    display: flex!important;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 105;
    margin: 0 1rem 1rem 0;
}

form {
    grid-column: 1;
    grid-row: 1;
}

.contact-socials .socials {
    fill: var(--text_light);
}

.contact-socials .socials:hover {
    fill: var(--text_dark);
}

.feedback-input {
  color:var(--text_default);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: var(--color_light);
  border:2px solid var(--text_dark);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid var(--text_dark); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 10rem;
  background:var(--text_light);
  border:0;
  cursor:pointer;
  color:var(--color_light);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:var(--text_dark); }

.footer-bg {
    background-image: url(/svg/wave-bottom.svg);
    width: 100%;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: static;
    z-index: 0;
}

footer {
    background-color: var(--text_light);
}

.footer-socials {
    fill: var(--color_light);
    margin: 0 1rem;
}

.footer-socials:hover {
    transition: .3s;
    fill: var(--color_primary);
}

.footer-copyright {
    color: var(--color_light);
}